<!DOCTYPE html>
<html>
	<head>
		<title>Order</title>
	</head>
	<body>
		<h1>You can place your order</h1>
		<form action = "../check_shopping_cart/" method = "POST">
			{% csrf_token %}
			<label for = "food">Which food do you want:</label>
			<select name = "food" id = "food">
				<optgroup label = "Vegetable">
					<option value = "Cabbage">Cabbage</option>
					<option value = "Mushroom">Mushroom</option>
				</optgroup>
				<optgroup label = "Fruit">
					<option value = "Apple">Apple</option>
				</optgroup>
			</select>
			<br>

			<label for = "quantity">Quantity:</label>
			<input type = "text" id = "quantity" name = "quantity">

			<input type = "submit" value = "Submit">
		</form>
	</body>
</html>
